<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.BoardMapper">

	<!-- 게시판 행 수 조회 -->
	<select id="boardListCnt"
			parameterType="java.util.Map" resultType="int">
		SELECT 
			COUNT(*) 
		FROM board 
		WHERE
			1=1
			AND board_category = #{boardCategory}
            <choose>
                <when test="searchBoard == 'board_title'">
                    AND board_title LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="searchBoard == 'board_content'">
                    AND board_content LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="searchBoard == 'board_title_content'">
                    AND (board_title LIKE CONCAT('%', #{searchText}, '%') OR board_content LIKE CONCAT('%', #{searchText}, '%'))
                </when>
            </choose>
	</select>
	
	<!-- 게시판 목록 조회 -->
	<select id="getBoardList"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			b.board_no boardNo, 
			b.board_title boardTitle, 
			c.code_name dept, 
			b.createdate, 
			b.board_count boardCount,
			bf.board_file_no boardFileNo
		FROM board b
		LEFT OUTER JOIN emp_info e ON b.emp_no = e.emp_no
		LEFT OUTER JOIN board_file bf ON b.board_no = bf.board_no 
		INNER JOIN common_code c ON e.dept = c.code
		WHERE
			1=1
			AND board_category = #{boardCategory}
		    <choose>
                <when test="searchBoard == 'board_title'">
                    AND board_title LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="searchBoard == 'board_content'">
                    AND board_content LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="searchBoard == 'board_title_content'">
                    AND (board_title LIKE CONCAT('%', #{searchText}, '%') OR board_content LIKE CONCAT('%', #{searchText}, '%'))
                </when>
            </choose>
		ORDER BY createdate DESC
		LIMIT #{beginRow}, #{rowPerPage} 
	</select>
	
	<!-- 게시판 상단고정 목록 -->
	<select id="getBoardPinnedList" resultType="java.util.Map">
		SELECT 
			b.board_no boardNo, 
			b.board_title boardTitle, 
			c.code_name dept, 
			b.createdate, 
			b.board_count boardCount,
			bf.board_file_no boardFileNo
		FROM board b
		LEFT OUTER JOIN emp_info e ON b.emp_no = e.emp_no
		LEFT OUTER JOIN board_file bf ON b.board_no = bf.board_no 
		INNER JOIN common_code c ON e.dept = c.code
		WHERE
			board_category = #{boardCategory}
			AND board_pinned = 1
		ORDER BY createdate DESC
		LIMIT 5;	
	</select>
	
	<!-- 게시글 최신 공지 조회 -->
	<select id="getRecentNotice" resultType="java.util.Map">
		SELECT  
			board_no boardNo,
			board_title boardTitle
		FROM board 
		WHERE board_category = 'B0101'
		ORDER BY createdate DESC
		LIMIT 5;
	</select>
	
	<!-- 게시글 상세 조회 -->
	<select id="getBoardOne" 
			parameterType="int" resultType="java.util.Map">
		SELECT 
			b.board_no boardNo,
			e.emp_no empNo, 
			bc.code_name boardCategory,
			bc.code categoryCode, 
            b.board_title boardTitle,
            b.board_pinned boardPinned,
           	b.board_content boardContent,
           	b.board_count boardCount, 
            b.createdate,
            b.create_id createId,
            dc.code_name dept,
			bf.board_origin_filename boardOriginFilename,
			bf.board_save_filename boardSaveFilename   
        FROM board b
		LEFT OUTER JOIN board_file bf ON b.board_no = bf.board_no 
        INNER JOIN emp_info e ON b.emp_no = e.emp_no
        INNER JOIN common_code dc ON e.dept = dc.code
        INNER JOIN common_code bc ON b.board_category = bc.code 
	    WHERE b.board_no = #{boardNo}
	</select>
	
	<!-- 게시글 이전글 조회 -->
	<select id="getPreBoard" 
			parameterType="java.util.Map" resultType="Integer">
		SELECT 
			board_no boardNo
        FROM board 
	    WHERE board_category = #{categoryCode} AND board_no &lt; #{boardNo} <!-- &lt;: 오른쪽으로 벌어지는 부등호 -->
		ORDER BY board_no DESC LIMIT 1
	</select>
	
	<!-- 게시글 다음글 조회 -->
	<select id="getNextBoard" 
			parameterType="java.util.Map" resultType="Integer">
		SELECT 
			board_no boardNo	
        FROM board 
	    WHERE board_category = #{categoryCode} AND board_no &gt; #{boardNo} <!-- &gt;: 왼쪽으로 벌어지는 부등호 -->
		ORDER BY board_no ASC LIMIT 1
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="addBoard"
			parameterType="com.goodee.JoinTree.vo.Board">
		<!-- AFTER: 키가 반환되고 난 뒤에 실행, insert 후 생성되는 키값 반환  -->
		<selectKey order="AFTER" keyProperty="boardNo" resultType="int"> 
			SELECT last_insert_id() 
		</selectKey>
		INSERT INTO board(
			emp_no, 
			board_category, 
			board_title, 
			board_content, 
			board_pinned,
			createdate, 
			updatedate, 
			create_id, 
			update_id
		) VALUES (
			#{empNo}, 
			#{boardCategory},
			#{boardTitle}, 
			#{boardContent}, 
			#{boardPinned}, 
			NOW(), 
			NOW(), 
			#{empNo}, 
			#{empNo}
		)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="modifyBoard" 
			parameterType="com.goodee.JoinTree.vo.Board">
		UPDATE 
			board
		SET 
			board_title = #{boardTitle}, 
			board_content = #{boardContent},
			board_pinned = #{boardPinned},
			updatedate = NOW(), 
			update_id = #{empNo}
		WHERE board_no = #{boardNo} AND emp_no = #{empNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="removeBoard">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>
</mapper>