<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.CommentMapper">
	<!-- 게시글별 댓글(+ 대댓글) 조회 -->
    <select id="selectComments" resultType="com.goodee.JoinTree.vo.Comment">
        SELECT
            c1.comment_no commentNo, c1.emp_no empNo, c1.comment_content commentContent, c1.createdate createdate,
            c2.comment_no parentCommentNo, c2.emp_no parentEmpNo, c2.comment_content parentCommentContent
        FROM
            `comment` c1
        LEFT JOIN
            `comment` c2 
        ON c1.parent_comment_no = c2.comment_no
        WHERE
            c1.board_no = #{boardNo}
        ORDER BY
            IFNULL(c1.parent_comment_no, c1.comment_no), c1.createdate;
    </select>
	
	<!-- 게시글별 댓글 조회  -->
	<select id="selectCommentsByBoardNo" resultType="com.goodee.JoinTree.vo.Comment">
		SELECT comment_no commentNo, board_no boardNo, parent_comment_no parentCommentNo, emp_no empNo,
		 	   comment_content commentContent, 
		 	   createdate, updatedate, create_id createId, update_id updateId
	 	FROM comment
	 	WHERE board_no = #{boardNo}
	</select>
	
	<!-- 게시글별 댓글 개수  -->
	<select id="selectCommentsCnt">
		SELECT COUNT(*)
		FROM comment
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- 댓글 입력 -->
	<insert id="addComment" parameterType="com.goodee.JoinTree.vo.Comment">
		INSERT INTO comment(
			board_no, 
			emp_no, 
			comment_content,
			createdate, 
			updatedate, 
			create_id, 
			update_id
		) VALUES (
			#{boardNo}, 
			#{empNo},
			#{commentContent}, 
			NOW(),
			NOW(),
			#{empNo}, 
			#{empNo}
		)
	</insert>
	
	<!-- 대댓글 입력 -->
	<insert id="addReply" parameterType="com.goodee.JoinTree.vo.Comment">
		INSERT INTO comment(
			board_no, 
			emp_no, 
			parent_comment_no, 
			comment_content,
			createdate, 
			updatedate, 
			create_id, 
			update_id
		) VALUES (
			#{boardNo}, 
			#{empNo},
			#{parentCommentNo},
			#{commentContent}, 
			NOW(),
			NOW(),
			#{empNo}, 
			#{empNo}
		)
	</insert>
	
	<!-- 댓글/대댓글 삭제  -->
	<delete id="removeCommentReply">
		DELETE FROM comment
		WHERE comment_no = #{commentNo}
	</delete>
	
	<!-- 댓글 작성자 출력 -->
	<select id="selectEmpName">
		SELECT emp_name empName
		FROM emp_info
		WHERE emp_no = #{empNo}
	</select>	
</mapper>