<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.CommunityMapper">
	<!-- 게시판 상단고정 게시글 리스트 -->
	<select id="selectPinnedCommList" parameterType="String" resultType="com.goodee.JoinTree.vo.Board">
		SELECT
			b.board_no boardNo, b.emp_no empNo, b.board_category boardCategory, 
			b.board_title boardTitle, b.board_content boardContent, b.board_pinned boardPinned,
			b.board_count boardCount, b.createdate, b.updatedate, b.create_id createId, b.update_id updateId,
			ei.emp_name empName
		FROM board b INNER JOIN emp_info ei
		ON b.emp_no = ei.emp_no
		WHERE b.board_category = #{category} AND b.board_pinned = "1"
		ORDER BY b.createdate DESC 
		LIMIT 5
	</select>
	
	<!-- 페이징, 검색조건 적용(조건 없을 경우 전체조회)  -->
	<select id="selectCommListByPageWithSearch" parameterType="java.util.Map" resultType="com.goodee.JoinTree.vo.Board">
	    SELECT
	        b.board_no boardNo, b.emp_no empNo, b.board_category boardCategory, 
	        b.board_title boardTitle, b.board_content boardContent, b.board_pinned boardPinned, 
	        b.board_count boardCount, b.createdate, b.updatedate, b.create_id createId, b.update_id updateId, 
	        ei.emp_name empName
	    FROM board b INNER JOIN emp_info ei
	    ON b.emp_no = ei.emp_no
	    WHERE b.board_category = #{category}
	    <choose>
	        <when test="searchOption == 'board_title'">
	            AND b.board_title LIKE CONCAT('%', #{searchText}, '%')
	        </when>
	        <when test="searchOption == 'board_content'">
	            AND b.board_content LIKE CONCAT('%', #{searchText}, '%')
	        </when>
	         <when test="searchOption == 'board_title_content'">
	            AND (b.board_title LIKE CONCAT('%', #{searchText}, '%') OR b.board_content LIKE CONCAT('%', #{searchText}, '%'))
	        </when>
	    </choose>
	    ORDER BY b.board_no DESC
	    LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectCommCntWithSearch" parameterType="java.util.Map" resultType="int">
	    SELECT COUNT(*)
	    FROM board 
	    WHERE board_category = #{category}
	    <choose>
	        <when test="searchOption == 'board_title'">
	            AND board_title LIKE CONCAT('%', #{searchText}, '%')
	        </when>
	        <when test="searchOption == 'board_content'">
	            AND board_content LIKE CONCAT('%', #{searchText}, '%')
	        </when>
	        <when test="searchOption == 'board_title_content'">
	            AND (board_title LIKE CONCAT('%', #{searchText}, '%') OR board_content LIKE CONCAT('%', #{searchText}, '%'))
	        </when>
	    </choose>
	</select>
		
	<!-- 게시판별 행 개수  -->
	<!-- boardCategory 부분 나중에 확인  -->
	<select id="selectCommCnt">
		SELECT COUNT(*) FROM board
		WHERE board_category = #{boardCategory}
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="increaseCommCount">
		UPDATE board
		SET board_count = board_count + 1
		WHERE board_no = #{boardNo}
	</update>

	<select id="searchCommListByPage" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT * FROM board
	    <where>
	        <if test="(boardCategory == 'B0103' or boardCategory == 'B0104' or boardCategory == 'B0105' or boardCategory == 'B0106') and
	                    (searchOption == 'boardTitle' or searchOption == 'boardContent') and
	                    (searchText != null and searchText != '')">
	            <!-- 제목 검색 및 내용 검색  -->
	            <foreach item="category" collection="categories" separator="or">
	                (boardCategory = #{category} and ${searchOption} LIKE CONCAT('%', #{searchText}, '%'))
	            </foreach>
	        </if>
	    </where>
	    ORDER BY board_no DESC
	    LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 검색 조건별 행의 수 -->
	<select id="searchCommCnt" resultType="int" parameterType="java.util.Map">
	    SELECT COUNT(*)
	    FROM board
	    <where>
	        <if test="(boardCategory == 'B0103' or boardCategory == 'B0104' or boardCategory == 'B0105' or boardCategory == 'B0106') and
	            (searchOption == 'boardTitle' or searchOption == 'boardContent') and
	            (searchText != null and searchText != '')">
	            <!-- 동적으로 생성되는 조건 -->
	            <foreach item="category" collection="categories" separator="or">
	                (boardCategory = #{category} and ${searchOption} LIKE CONCAT('%', #{searchText}, '%'))
	            </foreach>
	        </if>
	    </where>
	</select>

	<!-- 게시판 게시글 상세정보  -->
	<select id="selectCommOne" resultType="com.goodee.JoinTree.vo.Board">
		SELECT b.board_no boardNo, b.emp_no empNo, b.board_category boardCategory, 
               b.board_title boardTitle, b.board_content boardContent, 
               b.board_pinned boardPinned, b.board_count boardCount, 
               b.createdate, b.updatedate, b.create_id createId, b.update_id updateId, 
               ei.emp_name empName
        FROM board b INNER JOIN emp_info ei
        ON b.emp_no = ei.emp_no
	    WHERE board_no = #{boardNo}
	</select>

	<!-- 이전 글 조회 -->
	<select id="selectPreBoard" parameterType="java.util.Map" resultType="com.goodee.JoinTree.vo.Board">
		SELECT b.board_no boardNo, b.emp_no empNo, b.board_category boardCategory, 
			   b.board_title boardTitle, b.board_content boardContent, 
			   b.board_pinned boardPinned, b.board_count boardCount, 
			   b.createdate, b.updatedate, b.create_id createId, b.update_id updateId, 
               ei.emp_name empName
        FROM board b INNER JOIN emp_info ei
        ON b.emp_no = ei.emp_no
	    WHERE board_category = #{category} AND board_no &lt; #{boardNo} <!-- &lt;: 오른쪽으로 벌어지는 부등호 -->
	    ORDER BY board_no DESC LIMIT 1
	</select>
	
	<!-- 다음 글 조회 -->
	<select id="selectNextBoard" parameterType="java.util.Map" resultType="com.goodee.JoinTree.vo.Board">
		SELECT b.board_no boardNo, b.emp_no empNo, b.board_category boardCategory, 
			   b.board_title boardTitle, b.board_content boardContent, 
			   b.board_pinned boardPinned, b.board_count boardCount, 
			   b.createdate, b.updatedate, b.create_id createId, b.update_id updateId, 
               ei.emp_name empName
        FROM board b INNER JOIN emp_info ei
        ON b.emp_no = ei.emp_no
	    WHERE board_category = #{category} AND board_no &gt; #{boardNo} <!-- &gt;: 왼쪽으로 벌어지는 부등호 -->
	    ORDER BY board_no ASC LIMIT 1
	</select>
	
	
	
	
	<!-- 게시판 게시글 입력 -->
	<insert id="addComm" parameterType="com.goodee.JoinTree.vo.Board">
		<selectKey order="AFTER" keyProperty="boardNo" resultType="int"> <!-- AFTER: 키가 반환되고 난 뒤에 실행 -->
			SELECT last_insert_id() <!-- insert 후 생성되는 키값 반환  -->
		</selectKey>
		INSERT INTO board(
			emp_no, 
			board_category, 
			board_title, 
			board_content, 
			board_pinned,
			createdate, 
			updatedate, 
			create_id, 
			update_id
		) VALUES (
			#{empNo}, 
			#{boardCategory},
			#{boardTitle}, 
			#{boardContent}, 
			#{boardPinned}, 
			NOW(), 
			NOW(), 
			#{empNo}, 
			#{empNo}
		)
	</insert>
	
	<!-- 게시판 게시글 수정 -->
	<update id="modifyComm" parameterType="com.goodee.JoinTree.vo.Board">
		UPDATE board
		SET board_title = #{boardTitle}, 
			board_content = #{boardContent},
			<if test="boardPinned != null &amp;&amp; boardPinned != ''"> <!-- boardPinned가 null도 공백도 아닐 경우 실행 -->
				board_pinned = #{boardPinned},
			</if>
			updatedate = NOW(), 
			update_id = #{empNo}
		WHERE board_no = #{boardNo} AND emp_no = #{empNo}
	</update>
	
	<!-- 게시판 게시글 삭제  -->
	<delete id="removeComm">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>
	
	<!-- 게시판 카테고리 조회  -->
	<select id="selectBoardCategory">
		SELECT board_category
		FROM board
		WHERE board_no = #{boardNo}
	</select>
</mapper>