<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.CommuteManageMapper">

	<!-- 검색 조건별 행의 수 (연차 목록) -->
	<select id="searchAnnualLeaveListCnt"
			parameterType="java.util.Map" resultType="int">
		SELECT 
			COUNT(*) 
		FROM emp_info
 		WHERE 
 			1=1
 			<if test="empNo != null and empNo != 0">
		        AND emp_no = #{empNo}
		    </if>
		    <if test="empName != null and empName != ''">
		        AND emp_name = #{empName}
		    </if>
		    <if test="dept != null and dept != ''">
		        AND dept = #{dept}
		    </if>
	</select>
	
	<!-- 사원 연차 목록 조회 -->
	<select id="searchAnnualLeaveList"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			e.emp_no empNo, 
			e.emp_name empName, 
			dc.code_name dept, 
			al.annual_count annualCount
		FROM emp_info e 
		LEFT OUTER JOIN annual_leave al ON e.emp_no = al.emp_no
		INNER JOIN common_code dc ON e.dept = dc.code
		WHERE
			1=1
			<if test="empNo !=null and empNo != 0">
		    	AND e.emp_no = #{empNo}
		    </if>
		    <if test="empName != null and empName != ''">
		    	AND e.emp_name = #{empName}
		    </if>
		    <if test="dept != null and dept != ''">
		     	AND dc.code = #{dept}
		    </if> 
		ORDER BY e.emp_no DESC
		LIMIT #{beginRow}, #{rowPerPage}     
	</select>
	
	<!-- 검색 조건별 행의 수 (연가 목록) -->
	<select id="searchLeaveRecodeListCnt"
			parameterType="java.util.Map" resultType="int">
		SELECT 
			count(*)
		FROM leave_recode lr
		LEFT OUTER JOIN emp_info ei ON lr.emp_no = ei.emp_no
		LEFT OUTER JOIN account_list al ON lr.emp_no = al.emp_no
		WHERE
			1=1
			<if test="empNo !=null and empNo != 0">
		    	AND lr.emp_no = #{empNo}
		    </if>
		 	<if test="empName != null and empName != ''">
		    	AND ei.emp_name = #{empName}
		    </if>
		    <if test="leaveType != null and leaveType != ''">
		    	AND lr.leave_type = #{leaveType}
		    </if>
		    <if test="year != null and year != ''">
		    	AND YEAR(lr.leave_start_date) = #{year}
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND lr.leave_start_date BETWEEN #{startDate} AND #{endDate}
		    </if>
		    <if test="active != null and active != ''">
		    	AND al.active = #{active}
		    </if>
	</select>
	
	<!-- 사원 연가 목록 조회 -->
	<select id="searchLeaveRecodeList"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			lr.emp_no empNo,
			dc.code_name dept,
			ei.emp_name empName,
			lc.code_name leaveType, 
			lr.leave_start_date startDate,
			lr.leave_end_date endDate,
			lr.leave_period_date leavePeriodDate,
			ac.code_name active
		FROM leave_recode lr
		LEFT OUTER JOIN emp_info ei ON lr.emp_no = ei.emp_no
		LEFT OUTER JOIN account_list al ON lr.emp_no = al.emp_no
		INNER JOIN common_code ac ON al.active = ac.code
		INNER JOIN common_code lc ON  lr.leave_type = lc.code
		INNER JOIN common_code dc ON ei.dept = dc.code
		WHERE
			1=1
			<if test="empNo !=null and empNo != 0">
		    	AND lr.emp_no = #{empNo}
		    </if>
		 	<if test="empName != null and empName != ''">
		    	AND ei.emp_name = #{empName}
		    </if>
		    <if test="leaveType != null and leaveType != ''">
		    	AND lr.leave_type = #{leaveType}
		    </if>
		    <if test="year != null and year != ''">
		    	AND YEAR(lr.leave_start_date) = #{year}
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND lr.leave_start_date BETWEEN #{startDate} AND #{endDate}
		    </if>
		    <if test="active != null and active != ''">
		    	AND al.active = #{active}
		    </if>
		ORDER BY ei.emp_no DESC
		LIMIT #{beginRow}, #{rowPerPage}  
	</select>
	
	<!-- 검색 조건별 행의 수 (출퇴근 목록) -->
	<select id="searchCommuteFullListCnt"
			parameterType="java.util.Map" resultType="int">
		
		SELECT 
			COUNT(*)
		FROM commute c
		LEFT OUTER JOIN emp_info e ON c.emp_no = e.emp_no
		WHERE
			1=1
			<if test="empNo !=null and empNo != 0">
		    	AND e.emp_no = #{empNo}
		    </if>
		 	<if test="empName != null and empName != ''">
		    	AND e.emp_name = #{empName}
		    </if>
		    <if test="dept != null and dept != ''">
		     	AND dc.code = #{dept}
		    </if>
		    <if test="year != null and year != ''">
		    	AND YEAR(c.emp_on_off_date) = #{year}
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND c.emp_on_off_date BETWEEN #{startDate} AND #{endDate}
		    </if>
	</select>
	
	
	<!-- 전체사원 출퇴근 목록 조회 -->
	<select id="searchCommuteFullList"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			e.emp_no empNo, 
			e.emp_name empName, 
			dc.code_name dept, 
			c.emp_on_off_date empOnOffDate, 
			c.emp_on_time empOnTime, 
			c.emp_off_time empOffTime
		FROM commute c
		LEFT OUTER JOIN emp_info e ON c.emp_no = e.emp_no
		INNER JOIN common_code dc ON e.dept = dc.code
		WHERE
			1=1
			<if test="empNo !=null and empNo != 0">
		    	AND e.emp_no = #{empNo}
		    </if>
		 	<if test="empName != null and empName != ''">
		    	AND e.emp_name = #{empName}
		    </if>
		    <if test="dept != null and dept != ''">
		     	AND dc.code = #{dept}
		    </if>
		    <if test="year != null and year != ''">
		    	AND YEAR(c.emp_on_off_date) = #{year}
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND c.emp_on_off_date BETWEEN #{startDate} AND #{endDate}
		    </if> 
		ORDER BY c.emp_on_off_date DESC, c.createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}  
	</select>

</mapper>