<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.DocumentListMapper">
	
	<!-- 검색별 기안문서목록 행의 수 -->
	<select id="getDraftDocListCnt"
			parameterType="java.util.Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM document_default
		WHERE 
			(doc_status IN('A0201', 'A0202') 
			OR (doc_stamp2 IS NULL AND doc_stamp3 IS NULL AND doc_status = 'A0204'))
			AND emp_no = #{empNo}
		    <if test="docTitle != null and docTitle != ''">
		        AND doc_title LIKE CONCAT('%', #{docTitle}, '%')
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND createdate BETWEEN #{startDate} AND #{endDate}
		    </if>
	</select>
	
	<!-- 검색별 결제함 행의 수 -->
	<select id="getApprovalDocListCnt"
			parameterType="java.util.Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM document_default d
		LEFT OUTER JOIN document_signer ds ON d.doc_no = ds.doc_no
		WHERE 
			((ds.emp_signer_level = 1)
			OR (ds.emp_signer_level = 2 AND d.doc_stamp2 IS NOT NULL))
			AND ds.doc_status IN('A0201', 'A0204')
			AND (ds.emp_signer_no = #{empNo} OR d.reference = #{empNo})
			<if test="writer != null and writer != ''">
		        AND d.doc_title LIKE CONCAT('%', #{writer}, '%')
		    </if>
		    <if test="docTitle != null and docTitle != ''">
		        AND d.doc_title LIKE CONCAT('%', #{docTitle}, '%')
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND d.createdate BETWEEN #{startDate} AND #{endDate}
		    </if>
	</select>
	
	<!-- 검색별 개인문서함 행의 수 -->
	<select id="getIndividualDocListCnt"
			parameterType="java.util.Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM document_default d
		WHERE 
		    (doc_status = 'A0203' AND emp_no = #{empNo})
		    OR 
		    (1=1 
		     AND EXISTS (
	             SELECT 1
	             FROM document_signer ds
	             WHERE ds.doc_no = d.doc_no
	             	AND ds.doc_status = 'A0203'
	                AND ds.emp_signer_level IN (1, 2)
	                AND ds.emp_signer_no = #{empNo}
		        )
		    )
		    <if test="writer != null and writer != ''">
		        AND d.doc_title LIKE CONCAT('%', #{writer}, '%')
		    </if>
		    <if test="docTitle != null and docTitle != ''">
		        AND d.doc_title LIKE CONCAT('%', #{docTitle}, '%')
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND d.createdate BETWEEN #{startDate} AND #{endDate}
		    </if>
	</select>
	
	<!-- 검색별 팀별문서함 행의 수 -->
	<select id="getTeamDocListCnt"
			parameterType="java.util.Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM document_default
		WHERE 
			doc_status = 'A0203' 
			AND receiver_team = #{dept}
			<if test="writer != null and writer != ''">
		        AND d.doc_title LIKE CONCAT('%', #{writer}, '%')
		    </if>
		    <if test="docTitle != null and docTitle != ''">
		        AND d.doc_title LIKE CONCAT('%', #{docTitle}, '%')
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND createdate BETWEEN #{startDate} AND #{endDate}
		    </if>
	</select>
	
	<!-- 기안문서목록 조회-->
	<select id="getDraftDocList"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			d.doc_no docNo,
			d.createdate createdate, 
			doc.code_name category,
			doc.code docCode, 
			d.doc_title docTitle, 
			d.emp_no empNo, 
			d.writer writer, 
			sta.code_name docStatus
		FROM document_default d
		INNER JOIN common_code sta ON d.doc_status = sta.code
		INNER JOIN common_code doc ON d.category = doc.code
		WHERE 
			(d.doc_status IN('A0201', 'A0202') 
			OR (d.doc_stamp2 IS NULL 
			AND d.doc_stamp3 IS NULL 
			AND d.doc_status = 'A0204'))
			AND d.emp_no = #{empNo}
		    <if test="docTitle != null and docTitle != ''">
		        AND d.doc_title LIKE CONCAT('%', #{docTitle}, '%')
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND d.createdate BETWEEN #{startDate} AND #{endDate}
		    </if>
	    ORDER BY d.createdate DESC
		LIMIT #{beginRow}, #{rowPerPage} 
	</select>
	
	<!-- 결재함 조회 -->
	<select id="getApprovalDocList"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			d.doc_no docNo,
			d.createdate createdate, 
			doc.code_name category,
			doc.code docCode, 
			d.doc_title docTitle, 
			d.emp_no empNo, 
			d.writer writer, 
			sta.code_name docStatus
		FROM document_default d
		LEFT OUTER JOIN document_signer ds ON d.doc_no = ds.doc_no
		INNER JOIN common_code sta ON d.doc_status = sta.code
		INNER JOIN common_code doc ON d.category = doc.code
		WHERE 
			((ds.emp_signer_level = 1)
			OR (ds.emp_signer_level = 2 AND d.doc_stamp2 IS NOT NULL))
			AND ds.doc_status IN('A0201', 'A0204')
			AND (ds.emp_signer_no = #{empNo} OR d.reference = #{empNo})
			<if test="writer != null and writer != ''">
		        AND d.doc_title LIKE CONCAT('%', #{writer}, '%')
		    </if>
		    <if test="docTitle != null and docTitle != ''">
		        AND d.doc_title LIKE CONCAT('%', #{docTitle}, '%')
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND d.createdate BETWEEN #{startDate} AND #{endDate}
		    </if>
	    ORDER BY d.createdate DESC
		LIMIT #{beginRow}, #{rowPerPage} 
	</select>
	
	<!-- 개인문서함 조회 -->
	<select id="getIndividualDocList"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			d.doc_no docNo,
			d.createdate createdate, 
			doc.code_name category,
			doc.code docCode, 
			d.doc_title docTitle, 
			d.emp_no empNo, 
			d.writer writer, 
			sta.code_name docStatus
		FROM document_default d
		INNER JOIN common_code sta ON d.doc_status = sta.code
		INNER JOIN common_code doc ON d.category = doc.code
		WHERE 
		    (doc_status = 'A0203' AND emp_no = #{empNo})
		    OR 
		    (1=1
		     AND EXISTS (
	             SELECT 1
	             FROM document_signer ds
	             WHERE ds.doc_no = d.doc_no
	             	AND ds.doc_status = 'A0203'
	                AND ds.emp_signer_level IN (1, 2)
	                AND ds.emp_signer_no = #{empNo}
		        )
		    )
		    <if test="writer != null and writer != ''">
		        AND d.doc_title LIKE CONCAT('%', #{writer}, '%')
		    </if>
		    <if test="docTitle != null and docTitle != ''">
		        AND d.doc_title LIKE CONCAT('%', #{docTitle}, '%')
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND d.createdate BETWEEN #{startDate} AND #{endDate}
		    </if>
	    ORDER BY d.createdate DESC
		LIMIT #{beginRow}, #{rowPerPage} 
	</select>
	
	<!-- 팀별문서함 조회 -->
	<select id="getTeamDocList"
			parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			d.doc_no docNo,
			d.createdate createdate, 
			doc.code_name category,
			doc.code docCode, 
			d.doc_title docTitle, 
			d.emp_no empNo, 
			d.writer writer, 
			sta.code_name docStatus
		FROM document_default d
		INNER JOIN common_code sta ON d.doc_status = sta.code
		INNER JOIN common_code doc ON d.category = doc.code
		WHERE 
			d.doc_status = 'A0203' 
			AND d.receiver_team = #{dept}
			<if test="writer != null and writer != ''">
		        AND d.doc_title LIKE CONCAT('%', #{writer}, '%')
		    </if>
		    <if test="docTitle != null and docTitle != ''">
		        AND d.doc_title LIKE CONCAT('%', #{docTitle}, '%')
		    </if>
		    <if test="startDate != null and endDate != null 
		    			and startDate != '' and endDate != ''">
		    	AND d.createdate BETWEEN #{startDate} AND #{endDate}
		    </if>
	    ORDER BY d.createdate DESC
		LIMIT #{beginRow}, #{rowPerPage} 
	</select>
	
</mapper>