<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.EmpInfoMapper">
	<!-- 비밀번호 변경  -->
	<update id="modifyPw" parameterType="com.goodee.JoinTree.vo.AccountList">
		UPDATE account_list 
		SET emp_pw = PASSWORD(#{newPw}), 
			updatedate = NOW(), 
			update_id = #{empNo}
		WHERE emp_no = #{empNo} AND emp_pw = PASSWORD(#{empPw})
	</update>
	
	<!-- 나의 정보 조회 -->
	<select id="selectEmpOne" resultType="java.util.Map">
		SELECT
		    e.emp_no empNo,
		    pc.code_name position, 
		    dc.code_name dept, 
		    e.emp_name empName, e.emp_address empAddress, e.emp_phone empPhone, 
		    e.emp_jumin_no empJuminNo, e.emp_extension_no empExtensionNo, e.emp_hire_date empHireDate, e.updatedate, 
		    COALESCE(ei.emp_save_img_name, '이미지 없음') empSaveImgName,
		    COALESCE(si.sign_save_img_name, '이미지 없음') signSaveImgName
		FROM emp_info e 
		LEFT OUTER JOIN emp_info_img ei ON e.emp_no = ei.emp_no 
		INNER JOIN common_code dc ON e.dept = dc.code
		INNER JOIN common_code pc ON e.position = pc.code
		LEFT OUTER JOIN sign_img si ON e.emp_no = si.emp_no 
		WHERE e.emp_no = #{empNo}
	</select>
	
	<!-- 비밀번호 체크 -->
	<select id="selectCheckPw" >
		SELECT COUNT(*)
		FROM account_list
		WHERE emp_no = #{empNo} AND emp_pw = PASSWORD(#{empPw})
	</select>
	
	<!-- 나의 정보 수정 -->
	<update id="modifyEmp" parameterType="java.util.Map">
		UPDATE emp_info
		SET emp_name = #{empName}, 
			emp_address = #{empAddress}, 
			emp_jumin_no = #{empJuminNo},
			emp_phone = #{empPhone}, 
			updatedate = NOW(), 
			update_id = #{empNo}
		WHERE emp_no = #{empNo}
	</update>
</mapper>