<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.LoginMapper">
	<!-- 로그인 쿼리  -->
	<select id="selectAccount" parameterType="com.goodee.JoinTree.vo.AccountList" resultType="com.goodee.JoinTree.vo.AccountList">
		SELECT emp_no empNo 
		FROM account_list
		<where>
			emp_no = #{empNo} AND emp_pw = PASSWORD(#{empPw})
		</where>
	</select>
	
	<!-- 사번으로 이름 출력  -->
	<select id="selectEmpName">
		SELECT emp_name empName
		FROM emp_info 
		WHERE emp_no = #{empNo}
	</select>
	
	<!-- 사번으로 부서코드 출력 -->
	<select id="selectDept">
		SELECT dept
		FROM emp_info
		WHERE emp_no = #{empNo}
	</select>
	
	<!-- 사번으로 사원 이미지 출력 -->
	<select id="selectEmpImg">
		SELECT emp_save_img_name
		FROM emp_info_img
		WHERE emp_no = #{empNo}
	</select>
	
	<!-- 사번으로 서명 출력 -->
	<select id="selectSignImg">
		SELECT sign_save_img_name signSaveImgName
		FROM  sign_img
		WHERE emp_no = #{empNo}
	</select>
	
	<!-- 사번, 주민번호 인증  -->
	<select id="selectEmpNoJumin">
		SELECT COUNT(*)
		FROM emp_info
		WHERE emp_no = #{empNo} AND RIGHT(emp_jumin_no, 7) = #{juminNo}
	</select>
	
	<!-- 비밀번호 재설정(분실)  -->
	<update id="modifyForgetPw">
		UPDATE account_list 
		SET emp_pw = PASSWORD(#{newPw}), 
			updatedate = NOW(),
			update_id = #{empNo}
		WHERE emp_no = #{empNo}
	</update>
</mapper>