<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.ScheduleMapper">
	
	<!-- 전사 일정 출력 -->
	<select id="selectCompanySchedules" resultType="com.goodee.JoinTree.vo.Schedule">
		SELECT
        	schedule_no scheduleNo,
        	emp_no empNo,
        	emp_name empName,
        	schedule_category scheduleCategory,
        	schedule_title scheduleTitle,
        	schedule_content scheduleContent,
        	schedule_location scheduleLocation,
        	schedule_start scheduleStart,
        	schedule_end scheduleEnd,
        	createdate,
        	updatedate,
        	create_id createId,
        	update_id updateId
        FROM schedule
        WHERE schedule_category = #{scheduleCategory}
	</select>
		
	<!-- 부서 일정 출력 -->
	<select id="selectDepartmentSchedules" resultType="com.goodee.JoinTree.vo.Schedule">
		SELECT
        	schedule_no scheduleNo,
        	emp_no empNo,
        	emp_name empName,
        	schedule_category scheduleCategory,
        	schedule_title scheduleTitle,
        	schedule_content scheduleContent,
        	schedule_location scheduleLocation,
        	schedule_start scheduleStart,
        	schedule_end scheduleEnd,
        	createdate,
        	updatedate,
        	create_id createId,
        	update_id updateId
        FROM schedule
        WHERE emp_no IN (
    		SELECT emp_no
    		FROM emp_info
    		WHERE dept = #{dept}
		)
        AND schedule_category = #{scheduleCategory}
	</select>
		
	 <!-- 개인 일정 출력 -->
	 <select id="selectPersonalSchedules" resultType="com.goodee.JoinTree.vo.Schedule">
        SELECT
        	schedule_no scheduleNo,
        	emp_no empNo,
        	emp_name empName,
        	schedule_category scheduleCategory,
        	schedule_title scheduleTitle,
        	schedule_content scheduleContent,
        	schedule_location scheduleLocation,
        	schedule_start scheduleStart,
        	schedule_end scheduleEnd,
        	createdate,
        	updatedate,
        	create_id createId,
        	update_id updateId
        FROM schedule
        WHERE emp_no = #{empNo}
        	AND schedule_category = #{scheduleCategory}
    </select>
    
    <!-- 홈 - 오늘의 일정 출력-->
    <select id="selectTodaySchedules" resultType="com.goodee.JoinTree.vo.Schedule">
    SELECT
	    schedule_no scheduleNo,
	    emp_no empNo,
	    schedule_category scheduleCategory,
	    schedule_title scheduleTitle,
	    schedule_content scheduleContent,
	    schedule_location scheduleLocation,
	    schedule_start scheduleStart,
	    schedule_end scheduleEnd,
	    createdate,
	    updatedate,
	    create_id createId,
	    update_id updateId
	FROM schedule
	WHERE 
	    (
	        schedule_category = 'S0101' 
	        AND CURDATE() BETWEEN DATE(schedule_start) AND DATE(schedule_end)
	    )
	    OR
	    (
	        emp_no IN (
	            SELECT emp_no
	            FROM emp_info
	            WHERE dept = #{dept}
	        )
	        AND schedule_category = 'S0102' 
	        AND CURDATE() BETWEEN DATE(schedule_start) AND DATE(schedule_end)
	    )
	    OR
	    (
	        emp_no = #{empNo} 
	        AND schedule_category = 'S0103' 
	        AND CURDATE() BETWEEN DATE(schedule_start) AND DATE(schedule_end)
	    )
	 ORDER BY schedule_category, createdate DESC
	 LIMIT 0, 5
    
    </select>
    
    <!-- 일정 추가 -->
    <insert id="addSchedule" parameterType="com.goodee.JoinTree.vo.Schedule">
   		<selectKey order="AFTER" keyProperty="scheduleNo" resultType="int">
	        SELECT last_insert_id()
	    </selectKey>
   		INSERT INTO schedule(
   			emp_no,
   			emp_name,
   			schedule_category, 
   			schedule_title, 
   			schedule_content,
            schedule_location, 
            schedule_start, 
            schedule_end,
            createdate,
            updatedate,
            create_id,
            update_id
        ) VALUES (
            #{empNo},
            #{empName},
            #{scheduleCategory},
            #{scheduleTitle},
            #{scheduleContent},
            #{scheduleLocation},
            #{scheduleStart},
            #{scheduleEnd},
            now(),
            now(),
            #{empNo},
            #{empNo}
        )
    </insert>
    
    <!-- 일정 상세보기 -->
    <select id="selectScheduleOne" resultType="com.goodee.JoinTree.vo.Schedule">
        SELECT
        	schedule_no scheduleNo,
        	emp_no empNo,
        	emp_name empName,
        	schedule_category scheduleCategory,
        	schedule_title scheduleTitle,
        	schedule_content scheduleContent,
        	schedule_location scheduleLocation,
        	schedule_start scheduleStart,
        	schedule_end scheduleEnd,
        	createdate,
        	updatedate,
        	create_id createId,
        	update_id updateId
        FROM schedule
        WHERE schedule_no = #{scheduleNo}
    </select>
    
    <!-- 일정 삭제 -->
    <delete id="removeSchedule" parameterType="com.goodee.JoinTree.vo.Schedule">
        DELETE FROM schedule
        WHERE schedule_no = #{scheduleNo}
			AND emp_no = #{empNo}
    </delete>
    
    <!-- 일정 수정 -->
    <update id="modifySchedule" parameterType="com.goodee.JoinTree.vo.Schedule">
        UPDATE schedule
        SET
        schedule_title = #{scheduleTitle},
        schedule_content = #{scheduleContent},
        schedule_location = #{scheduleLocation},
        schedule_start = #{scheduleStart},
        schedule_end = #{scheduleEnd},
        updatedate = now()
        WHERE schedule_no = #{scheduleNo}
        	AND emp_no = #{empNo}
    </update>
    
</mapper>