<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.SignImgMapper">
	<!-- 서명 이미지 정보 추가 -->
	<insert id="insertSignImg" parameterType="com.goodee.JoinTree.vo.SignImg">
		INSERT INTO sign_img (
			emp_no, 
			sign_save_img_name, 
			sign_filetype, 
			sign_filesize,
			createdate,
			updatedate,
			create_id,
			update_id
		) VALUES (
			#{empNo}, 
			#{signSaveImgname}, 
			#{signFiletype}, 
			#{signFilesize},
			NOW(), 
			NOW(), 
			#{empNo},
			#{empNo}
		)
	</insert>
	
	<!-- 서명 이미지 파일 상세정보 -->
	<select id="selectSignImg" resultType="com.goodee.JoinTree.vo.SignImg">
		SELECT
			sign_img_no signImgNo, emp_no empNo, sign_save_img_name signSaveImgName, 
			sign_filetype signFiletype, sign_filesize signFilesize, 
			createdate, updatedate, create_id createId, update_id updateId
		FROM sign_img
		WHERE emp_no = #{empNo}
	</select>
	
	<!-- DB에서 서명 이미지 정보 삭제 -->
	<delete id="removeSignImg">
		DELETE FROM sign_img
		WHERE emp_no = #{empNo}
	</delete>
</mapper>