<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.JoinTree.mapper.TestDocumentMapper">

	<!-- 문서결제양식 코드 조회 -->
	<select id="selectDocumentCodeList" resultType="com.goodee.JoinTree.vo.CommonCode">
		SELECT 
			code,
			code_name codeName
		FROM common_code 
		WHERE up_code = 'D01'
	</select>

</mapper>